[Unit]
Description=containerpilot
After=network.target auditd.service common-app-init.service

[Service]
Type=simple
EnvironmentFile=/etc/env_vars
ExecStart=/usr/local/bin/containerpilot
ExecReload=/usr/local/bin/containerpilot -reload
KillMode=mixed
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
